/**V1.0 DBJF only css file **//**文章详情页样式表**/
/**变量，包括颜色和字体**/
/**字体大小**/
.articleDetail .header {
  border-bottom: 2px solid #999999;
}

/**变量，包括颜色和字体**/
/**字体大小**/
.getPwd .mainbody {
  background: url(../img/pic/mainbody_bg.png) no-repeat 0 0 transparent;
  background-size: 100% 100%;
}
.getPwd .mainbody .optsbar {
  font-size: 16px;
  padding: 35px 0 6px 0;
}
.getPwd .mainbody .optsbar a {
  font-size: 14px;
}
.getPwd .mainbody .getPwd_content {
  background: #fff;
  height: 435px;
}
.getPwd #register {
  margin-top: 50px;
}
.getPwd .getPwd_content {
  border: 1px solid #f1f1f1;
}
.getPwd .statusSet,
.getPwd .inputContent {
  width: 445px;
  margin: 0 auto;
}
.getPwd .statusSet {
  position: relative;
  padding: 30px 0 65px 0;
  color: #666666;
  margin-bottom: 60px;
}
.getPwd .statusSet > div.box {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.getPwd .statusSet > div.box > div:first-child,
.getPwd .statusSet > div.box > div:last-child {
  width: 85px;
}
.getPwd .statusSet .icon {
  width: 52px;
  height: 52px;
}
.getPwd .statusSet .active {
  color: #ff5951;
}
.getPwd .statusSet .line {
  border-bottom: 1px solid #cccccc;
  position: absolute;
  bottom: 38px;
  left: 16px;
  right: 16px;
}
.getPwd .inputContent table {
  width: 100%;
}
.getPwd .inputContent table td:last-child {
  position: relative;
}
.getPwd .inputContent table td > .icon {
  width: 14px;
  height: 23px;
  position: absolute;
  right: 60px;
  top: 23px;
}
.getPwd .inputContent table td > .icon-register-lock {
  width: 18px;
}
.getPwd .inputContent table p > .icon {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 12px;
}
.getPwd .inputContent input[type='text'],
.getPwd .inputContent input[type='password'] {
  height: 44px;
  border: 1px solid #ddd;
  text-indent: 12px;
}
.getPwd .inputContent input,
.getPwd .inputContent p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.getPwd .inputContent p {
  margin-top: 0;
}
.getPwd .inputContent .button {
  display: inline-block;
  width: 109px;
  height: 46px;
  margin: 10px 0 10px 8px;
  vertical-align: middle;
  line-height: 46px;
}
.getPwd .inputContent #phoneNumber,
.getPwd .inputContent #pwd {
  width: 292px;
}
.getPwd .inputContent #identifyCode {
  width: 174px;
}
.getPwd .inputContent .nextStep {
  border: none;
  width: 292px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  border-radius: 5px;
}

/**图标样式**/
/**变量，包括颜色和字体**/
/**字体大小**/
.icon {
  display: inline-block;
}
.icon-more {
  width: 36px;
  height: 16px;
  background: url(../img/icon/icon_more.png) no-repeat 0 8px transparent;
}
.icon-user {
  background: url("../img/icon/icon_account.png") no-repeat 50% 50% transparent;
}
.icon-lock {
  background: url("../img/icon/icon_password.png") no-repeat 50% 50% transparent;
}
.icon-search {
  background: url("../img/icon/icon_search.png") no-repeat 0 0 transparent;
}
.icon_checkbox {
  background: url("../img/icon/icon_checkbox.png") no-repeat 0 0 transparent;
}
.icon_checked {
  background: url("../img/icon/checked.png") no-repeat 0 0 transparent;
}
.icon_arrorRigth {
  background: url("../img/icon/icon_right.png") no-repeat 0 0 transparent;
}
.icon_phone {
  background: url("../img/icon/icon_call.png") no-repeat 0 0 transparent;
}
.icon_wx {
  background: url("../img/icon/icon_wechat_small.png") no-repeat 0 0 transparent;
}
.icon_call {
  background: url("../img/icon/icon_customer_call.png") no-repeat 0 0 transparent;
}
.icon_clock {
  background: url("../img/icon/icon_clock.png") no-repeat 0 0 transparent;
}
.icon_comment {
  background: url("../img/icon/icon_comment.png") no-repeat 0 0 transparent;
}
.icon_heat {
  background: url("../img/icon/icon_category.png") no-repeat 0 0 transparent;
}
.icon_chkPhone {
  background: url("../img/icon/icon_reset_phone.png") no-repeat 0 0 transparent;
}
.icon_pwd {
  background: url("../img/icon/icon_reset_finger.png") no-repeat 0 0 transparent;
}
.icon_success {
  background: url("../img/icon/icon_reset_key.png") no-repeat 0 0 transparent;
}
.active .icon_chkPhone {
  background: url("../img/icon/icon_reset_phone_active.png") no-repeat 0 0 transparent;
}
.active .icon_pwd {
  background: url("../img/icon/icon_reset_finger_usr.png") no-repeat 0 0 transparent;
}
.active .icon_success {
  background: url("../img/icon/icon_reset_usr.png") no-repeat 0 0 transparent;
}
.icon_phone_input {
  background: url("../img/icon/icon_phone.png") no-repeat 0 0 transparent;
}
.icon-register-lock {
  background: url("../img/icon/icon_lock_gray.png") no-repeat 0 0 transparent;
}

/**
* 首页样式表
*/
/**变量，包括颜色和字体**/
/**字体大小**/
.mainbody .advertisement ul img {
  width: 100%;
}
.mainbody .advertisement #slider {
  max-height: 560px;
}
.mainbody .advertisement .imgAd {
  padding: 70px 0;
  background: #f5f5f5;
}
.mainbody .advertisement .imgAd a.center {
  margin: 0 36px;
}
.mainbody .advertisement .imgAd img {
  border: 1px solid #e1e1e1;
}
.mainbody .articleList li {
  padding: 30px 0;
  border-bottom: 1px dashed #cccccc;
}
.mainbody .articleList li:first-child {
  padding-top: 0;
}
.mainbody .articleList li:last-child {
  border-bottom: none;
}
.mainbody .articleList .article > a {
  display: block;
  width: 300px;
  height: 200px;
  overflow: hidden;
  padding-left: 3px;
  position: relative;
}
.mainbody .articleList .article > a span {
  position: absolute;
  display: block;
  width: 67px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background: url("../img/icon/icon_start.png") 0 0 transparent;
  top: 30px;
  left: -2px;
  color: #ffffff;
  text-indent: 5px;
  box-shadow: -3px 3px 2px #666666;
}
.mainbody .articleList .article > a span.onTime {
  background: url("../img/icon/icon_prosessing.png") 0 0 transparent;
}
.mainbody .articleList .article > .flex1 {
  margin-left: 12px;
  position: relative;
}
.mainbody .articleList .article > .flex1 .articleTitle * {
  color: #303030;
}
.mainbody .articleList .article > .flex1 .articleTitle label {
  color: #999999;
}
.mainbody .articleList .article > .flex1 .articleTitle > p {
  font-size: 18px;
}
.mainbody .articleList .article > .flex1 .articleInfo {
  border-bottom: 1px solid #cecece;
  padding: 15px 0 8px 0;
}
.mainbody .articleList .article > .flex1 .articleInfo a {
  color: #0092ff;
  margin: 0 5px;
}
.mainbody .articleList .article > .flex1 .articleInfo p:last-child {
  font-size: 12px;
  margin-top: 2px;
  text-align: right;
}
.mainbody .articleList .article > .flex1 .articleInfo p:last-child .icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.mainbody .articleList .article > .flex1 .articleInfo p:last-child span {
  margin-right: 25px;
}
.mainbody .articleList .article > .flex1 .articleInfo p:last-child span:last-child {
  margin: 0;
}
.mainbody .articleList .article > .flex1 .articleText {
  padding-top: 8px;
  color: #303030;
}
.mainbody .articleList .article > .flex1 .articleText p {
  line-height: 1.8;
}
.mainbody .articleList .article > .flex1 .option {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.mainbody .articleList .article > .flex1 .option button {
  border: 1px solid #cecece;
  border-radius: 5px;
  width: 84px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
}
.mainbody .articleList .article > .flex1 .option button label {
  margin-left: 10px;
}
.mainbody .articleList .article > .flex1 .option button.ups {
  color: #ff5951;
}
.mainbody .articleList .article > .flex1 .option button.ups label {
  color: #303030;
}
.mainbody .articleList .article > .flex1 .option .flex1:last-child {
  text-align: right;
}
.mainbody .articleList .article > .flex1 .option .flex1:last-child a {
  color: #0092ff;
  display: inline-block;
}
.mainbody .articleList .article > .flex1 .option .flex1:last-child a.button {
  background: #ff5951;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-left: 10px;
}
.mainbody > .box.mainWidth {
  padding-top: 50px;
}

/**变量，包括颜色和字体**/
/**字体大小**/
/**清除默认样式**/
html,
body,
p {
  font-size: 14px;
  font-family: '微软雅黑';
}
html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
input,
button {
  margin: 0;
  padding: 0;
  outline: none;
}
img {
  vertical-align: top;
}
body {
  min-width: 1170px;
  color: #333333;
}
body.loginPage {
  background: #666666;
}
li {
  list-style: none;
}
a {
  color: #303030;
  text-decoration: none;
}
/**固定宽度，居中**/
.mainWidth {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
.mustTips {
  color: #ff5951;
}
.sendCode {
  color: #ffffff;
  background: #00cd98;
  cursor: pointer;
  border: none;
}
.nextStep {
  color: #ffffff;
  background: #ff5951;
}
/**轮播区域**/
.slider {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.slider-nav ol {
  position: absolute;
  bottom: 5px;
  right: 0;
}
.slider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}
.slider-nav ol li.slider-active {
  width: 10px;
  cursor: default;
  background: #ffffff;
}
.slider-wrap {
  position: relative;
}
.slider-wrap.unslider-carousel > li {
  float: left;
}
.slider-vertical > ul {
  height: 100%;
}
.slider-vertical li {
  float: none;
  width: 100%;
}
.slider-fade {
  position: relative;
}
.slider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}
.slider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
}
.slider ul,
.slider ol,
.slider li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
.slider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}
.slider-arrow.next {
  left: auto;
  right: 20px;
}
.slider li {
  float: left;
}
.header {
  background: #fff;
}
.header > .opts {
  background: #f5f5f5;
  padding: 15px 0;
}
.header > .opts .icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.header > .opts .icon_phone {
  margin-right: 5px;
}
.header > .opts .icon_wx {
  width: 22px;
}
.header > .opts * {
  color: #666666;
}
.header > .opts .mainWidth > div:last-child {
  text-align: right;
}
.header > .opts .mainWidth > div:last-child a {
  display: inline-block;
  width: 90px;
  text-align: center;
  border-right: 1px solid #cccccc;
  line-height: 14px;
}
.header > .opts .mainWidth > div:last-child a:last-child {
  border: none;
  width: 50px;
  text-align: right;
}
.header .header-search {
  padding: 44px 0;
}
.header .header-search * {
  position: relative;
}
.header .header-search .logo {
  margin-right: 20px;
}
.header .header-search .menu {
  height: 50px;
  line-height: 50px;
}
.header .header-search .menu a {
  margin: 0 20px;
  font-size: 16px;
}
.header .header-search .menu a:hover {
  color: #ff5951;
}
.header .header-search .search {
  height: 48px;
  width: 498px;
  border: 1px solid #666666;
  margin: 0 10px;
}
.header .header-search .search input {
  border: none;
  width: 100%;
  height: 46px;
  text-indent: 12px;
}
.header .header-search .search .icon {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  right: 5px;
  top: 13px;
}
.header .header-search .opts {
  text-align: right;
}
.header .header-search .opts .button {
  display: inline-block;
  width: 100px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
}
.header .header-search .opts .button-tifOff {
  color: #ffffff;
  background-color: #ff5951;
  margin-right: 10px;
}
.header .header-search .opts .button-login {
  height: 46px;
  line-height: 46px;
  windth: 98px;
  color: #ff5951;
  border: 1px solid #ff5951;
}
.box {
  display: -moz-box;
  display: -o-box;
  display: box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.box .flex1 {
  flex: 1;
}
.box-middle {
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -moz-box-pack: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
}
.loginPage .mainbody {
  background: url(../img/pic/mainbody_bg.png) no-repeat 0 0 transparent;
}
.mainbody {
  min-height: 570px;
  background-size: 100% 100%;
}
.mainbody .hotAd {
  width: 302px;
  margin-left: 45px;
}
.mainbody .hotAd .advertisementName {
  margin-bottom: 10px;
}
.mainbody .hotAd .advertisementName .icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.mainbody .hotAd .hotAdTop a {
  color: #ff5951;
}
.mainbody .hotAd > div {
  margin-top: 40px;
}
.mainbody .hotAd > div:first-child {
  margin-top: 0;
}
.mainbody .hotAd > div > div {
  border: 1px solid #cccccc;
}
.mainbody .hotAd > div > div img {
  width: 100%;
}
.mainbody .hotAd > div > div > p {
  background: #f5f5f5;
  height: 56px;
  line-height: 56px;
  padding: 0 13px;
}
.mainbody .hotAd > div > div > p .icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.mainbody .hotAd > div > div > p span {
  color: #999999;
}
.mainbody .hotAd > div ul {
  background: #f5f5f5;
}
.mainbody .hotAd > div ul.hotAdUl {
  padding: 0 20px;
}
.mainbody .hotAd > div ul.hotAdUl li {
  padding: 15px 0;
  border-bottom: 1px dashed #cccccc;
}
.mainbody .hotAd > div ul.hotAdUl li:last-child {
  border: none;
}
.mainbody .hotAd > div ul.hotAdUl .articleTitle {
  line-height: 1.8;
}
.mainbody .hotAd > div ul.hotAdUl .box {
  margin-top: 15px;
}
.mainbody .hotAd > div ul.hotAdUl .box .flex1 {
  color: #999999;
}
.mainbody .hotAd > div ul.hotAdUl .box .flex1 span {
  color: #ff5951;
  margin-left: 10px;
}
.mainbody .hotAd > div ul.hotAdUl .box .flex1:last-child {
  text-align: right;
}
.mainbody .adContent {
  width: 790px;
  height: 384px;
  margin: 85px 0;
}
.mainbody #error-tips {
  width: 212px;
  height: 17px;
  padding: 20px;
  position: absolute;
  right: 410px;
  background-color: #ffffff;
  border: 1px solid #888888;
  border-radius: 3px;
  color: #666666;
  display: none;
}
.mainbody #error-tips i.icon {
  display: inline-block;
  width: 13px;
  height: 16px;
  position: absolute;
  right: -13px;
}
.mainbody #error-tips.account {
  top: 230px;
}
.mainbody .loginFrame {
  width: 375px;
  height: 384px;
  margin: 85px 0;
  background: #fff;
  border: 1px solid #cccccc;
}
.mainbody .loginFrame > p {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  text-align: right;
  background: #f3f3f3;
  padding-right: 15px;
}
.mainbody .loginFrame > p a {
  color: #ff5951;
}
.mainbody .loginFrame > ul {
  width: 296px;
  margin: 0 auto;
}
.mainbody .loginFrame > ul li.title {
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}
.mainbody .loginFrame > ul li.title > div {
  border: 2px solid #ffffff;
  padding-bottom: 8px;
}
.mainbody .loginFrame > ul li.title > div span {
  padding-bottom: 8px;
}
.mainbody .loginFrame > ul li.title > div span.active {
  border-bottom: 2px solid #ff5951;
}
.mainbody .loginFrame > ul li {
  position: relative;
  margin-bottom: 16px;
}
.mainbody .loginFrame > ul li > div.fastLogin {
  display: none;
}
.mainbody .loginFrame > ul li > div.convention {
  display: block;
}
.mainbody .loginFrame > ul li div.inputs {
  position: relative;
  margin-bottom: 16px;
}
.mainbody .loginFrame > ul li div.inputs button {
  margin-left: 8px;
  border: none;
  width: 95px;
  color: #ffffff;
  background: #00cd98;
  font-size: 14px;
  cursor: pointer;
}
.mainbody .loginFrame > ul li div.inputs button.unable {
  background: #b4b4b4;
}
.mainbody .loginFrame > ul li > div.flex1 span {
  cursor: pointer;
}
.mainbody .loginFrame > ul li i.icon {
  position: absolute;
  left: 1px;
  top: 1px;
  display: inline-block;
  width: 45px;
  height: 44px;
  border-right: 1px solid #cccccc;
  background-color: #f3f3f3;
  border-radius: 3px 0 0 3px;
}
.mainbody .loginFrame > ul li input[type="text"],
.mainbody .loginFrame > ul li input[type="password"],
.mainbody .loginFrame > ul li input[type="number"] {
  height: 44px;
  line-height: 44px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  width: 100%;
  text-indent: 50px;
}
.mainbody .loginFrame > ul li input[type="checkbox"] {
  display: none;
}
.mainbody .loginFrame > ul li div.box label.icon_checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.mainbody .loginFrame li.login-outside a.border {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.mainbody .loginFrame li.login-outside a {
  padding: 0 12px;
  color: #b4b4b4;
  display: inline-block;
  line-height: 1;
}
.mainbody .loginFrame li.login-outside a:hover {
  color: #0092ff;
}
.mainbody .loginFrame a.button-login {
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  background-color: #ff5951;
  color: #ffffff;
  font-size: 16px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearBoth:after {
  display: block;
  content: ".";
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.footer {
  text-align: center;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #666666;
}
.footer * {
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}
.error {
  color: red;
  border-color: red !important;
}
input.error::-webkit-input-placeholder {
  color: red;
}
input.error::-moz-placeholder {
  color: red;
}
.adContent {
  text-align: center;
  color: #ffffff;
}
.adContent p {
  font-size: 36px;
}
.adContent span {
  font-size: 24px;
}
.mainFooter {
  background: #666666;
  padding: 15px 0;
}
.mainFooter > .mainWidth > .box .qrCode {
  text-align: center;
}
.mainFooter > .mainWidth > .box .qrCode > p:last-child {
  margin-left: 30px;
}
.mainFooter > .mainWidth > .box > .flex1 {
  margin-right: 104px;
}
.mainFooter > .mainWidth > .box > .flex1 > p {
  padding: 10px 0;
  font-size: 12px;
}
.mainFooter > .mainWidth > .box > .flex1 > div {
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}
.mainFooter > .mainWidth > .box > .flex1 > div a {
  margin: 0 46px;
}
.mainFooter > .mainWidth > .box > .flex1 > div a:first-child {
  margin-left: 0;
}
.mainFooter > .mainWidth > .box > .flex1 > div a:last-child {
  margin-right: 0;
}
.mainFooter > .mainWidth > .box .contactInfo {
  margin-left: 95px;
}
.mainFooter > .mainWidth > .box .contactInfo p {
  padding: 10px 0;
}
.mainFooter > .mainWidth > .box .contactInfo p:first-child {
  padding: 0;
  padding-bottom: 10px;
  font-size: 18px;
}
.mainFooter > .mainWidth > .box .contactInfo p .icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
}
.mainFooter * {
  color: #ffffff;
}


/**变量，包括颜色和字体**/
/**字体大小**/
